<html ng-app="app">
    <head>
        <title>Jeopardo64</title>
        <link rel="stylesheet" href="css/pure-min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-animate.js"></script>
        <script src="lib/jquery-1.11.0.min.js"></script>
        <script src="lib/jquery-migrate-1.2.1.min.js"></script>
        <script src="src/app/app.js"></script>

    </head>
    <body ng-controller="mainController">
    <div ng-show="board" class="pure-u-4-5 j-set-wrapper">
        <div class="pure-u-1-6 j-set-headers" ng-repeat="y in [1,2,3,4,5,6]">
            <div class="j-header">test</div>
        </div>
        <div class="j-set" ng-repeat="x in columns">
            <div class="pure-u-1-6 j-value-row" ng-repeat="y in [1,2,3,4,5,6]">
                <div class="j-value" ng-click="showAnswer()">{{x+1}}00</div>
            </div>
        </div>
    </div>
    <div class="j-question" ng-show="question" ng-click="showBoard()">
        <span class="j-question-text">She wasn't the grandmother but the darling dog/housemaid in "Peter Pan"</span>
    </div>
    </body>
</html>